<div class="company-container">
    <h2>COMPANY</h2>
    
    <div class="company-contents">
        <div class="company-right-contents">
            <p>会社名</p>
        </div>
        <div class="company-left-contents">
            <p>株式会社&emsp;FRENEMY</p>
        </div>
    </div>
    <div class="company-contents">
        <div class="company-right-contents">
            <p>所在地</p>
        </div>
        <div class="company-left-contents">
            <p>東京都渋谷区</p>
        </div>
    </div>
    <div class="company-contents" style="border-bottom:3px solid #000">
        <div class="company-right-contents">
            <p>役員</p>
        </div>
        <div class="company-left-contents">
            <div style="display:flex">
                <p>代表取締役</p>
                <p style="margin-left:1em">山田蒼依</p>
            </div>
            <div style="display:flex">
                <p>取締役</p>
                <p style="margin-left:3em">後藤魁斗</p>
            </div>
            <div style="display:flex">
                <p>取締役</p>
                <p style="margin-left:3em">向田颯斗</p>
            </div>
        </div>
    </div>
</div>
<app-bottom-bar></app-bottom-bar>