<div class="about-container">
    <h2>ABOUT</h2>
    <div class="sticky-container">
        <div class="about-contents bule">
            <div class="sentence">
                <p>Philosophy</p>
                <h4>人生に”彩”を</h4>
            </div>
        </div>
    </div>

    <div class="sticky-container">
        <div class="about-contents grean">
            <div class="sentence">
                <p>Mission</p>
                <h4>あなたの人生のサポーターで在り続ける</h4>
            </div>
        </div>
    </div>

    <div class="sticky-container">
        <div class="about-contents yellow">
            <div class="sentence">
                <p>Vission</p>
                <h4>志のある人々が勇猛果敢に<br>
                    挑戦できる環境を創出し、<br>
                    無限大の可能性を最大化する</h4>
            </div>
        </div>
    </div>

    <div class="sticky-container">
        <div class="about-contents orange">
            <div class="sentence">
                <p>Value</p>
            
                <h4>バカであれ</h4>
                <p>驕らずに謙虚でいること。周りから愛されるバカであれ。</p>
            
                <h4>熱狂しろ</h4>
                <p>君の情熱で周りを魅了し、巻き込め。そして、狂え。</p>
            
                <h4>前に転べ</h4>
                <p>挑戦に失敗はつきもの。<br>
                    失敗してもただで終わらず、一歩でも前に進め。</p>
            </div>
        </div>
    </div>

    <div class="sticky-container2">
        <div class="about-contents2 sentence">
            <div>
                <h3>
                    「アイデアを形にしたい！」<br>
                    「新たな価値を生み出したい」
                </h3>
                <p>
                    このような 希望 や 熱量 はある。<br>
                    いざ「行動しよう！」と思っても
                </p>
                <p>
                    何から手をつければいいかわからない・・・<br>
                    現実を見ると、足りないものがたくさん・・・<br>
                    知識・スキル・経験・資金・時間etc…
                </p>
                <p>
                    それらが言い訳となってしまい、挑戦できないのであれば<br>
                    希望 と 熱量 で溢れた切磋琢磨できる ” 仲間 ” と<br>
                    その道の経験があり、困った時に手を差し伸べてくれる<br>
                    先導者 がいる ” 環境 ” と起業するという<br>
                    挑戦にあたっての心理的ハードルを下げられる<br>
                    仕組みがあれば多くの可能性が広がるのではないだろうか
                </p>
                <p>
                    起業という終わりのない旅に出る挑戦者のために、私たちも挑戦し続けます。
                </p>
            </div>
        </div>
    </div>
</div>
<app-bottom-bar></app-bottom-bar>