<div class="bottom-bar-container">
    <div class="bottom-bar-bottom-container">
        <div class="icon" (click)="clickIcon('line')">
            <img src="assets\svg\line.svg" alt="Line"/>
        </div>
        <div class="icon" (click)="clickIcon('youtube')">
            <img src="assets\svg\youtube.svg" alt="YouTube"/>
        </div>
        <div class="icon" (click)="clickIcon('twitter')">
            <img src="assets\svg\twitter.svg" alt="Twitter"/>
        </div>
        <div class="icon" (click)="clickIcon('instagram')">
            <img src="assets\svg\instagram.svg" alt="instagram"/>
        </div>
        <div class="icon" (click)="clickIcon('tiktok')">
            <img src="assets\svg\tiktok.svg" alt="tiktok"/>
        </div>
        <div class="icon" (click)="clickIcon('facebook')">
            <img src="assets\svg\facebook.svg" alt="facebook"/>
        </div>
    </div>
    <div class="link">
        <a (click)="changeTab('privacyPolicy')">プライバシーポリシー</a>
        <a (click)="changeTab('disclaimer')">免責事項</a>
    </div>
</div>