.services-container{
    text-align: center;
    padding:0 10%;
    margin-bottom:100px;
}
.pitch24-img{
    height:300px;
    width:300px;
    margin:0 auto;
    background-image: url('src/assets/image/24PITCH.png');
    background-size: cover;
}
.frenemy-img{
    height:350px;
    width:100%;
    margin:0 auto;
    background-image: url('../../assets/image/frenemyServiceL.jpg');
    background-size: contain;
    background-repeat:  no-repeat;
    background-position:center center;   
}
.contens-delimiter{
    height:20px;
    width:100%;
    margin:0 auto 20px auto;
    border-bottom:1px solid rgba(131, 128, 128, 0.512);
}
@media screen and (max-width: 599px) {
    .frenemy-img{
        height:180px;
        background-image: url('../../assets/image/frenemyServiceS.jpg');
        background-size: cover;
    }
}