<div class="services-container">
    <h2>SERVICES</h2>
    <h3>FRENEMY</h3>
    <div class="frenemy-img"></div>
    <p>中にいるのは、起業家及び起業家の卵である「クルー」と現役の経営者をはじめとする「メンター」。
        クルー同士は、互いが熱量で溢れる切磋琢磨できる良きライバル
        メンターは、壁打ちやコンサルを通じてアイデアのブラッシュアップ、事業の土台作りを手伝ってくれるサポーター
        
        それ以外にも、バックオフィス支援や資金調達支援、WEB制作などの創業から自走するまでに必要なリソースがワンストップで手に入る挑戦者のためのプラットフォームを作り出します。
        
        定期的に「クルー」、「メンター」問わずメンバー間の交流を促すために、オフラインでの交流会も実施していきます。
    </p>
    <div class="contens-delimiter"></div>
    <h3>24PITCH</h3>
    <div class="pitch24-img"></div>
    <p>いつでも、どこからでもピッチへの参加が可能です。本選考に関してはオフラインでの開催予定ですので、スケジュール調整お願いいたします。
        ＊やむを得ない場合はご相談ください。
        
        優秀者に対しては賞金の準備がございますので、ぜひ事業のためにご使用ください。
    </p>
</div>
<app-bottom-bar></app-bottom-bar>