<div class="disclaimar-container">
    <h2>Disclaimer</h2>
    <h3>免責事項</h3>
    <p>
        当サイト（https://frenemy.co.jp）は、株式会社FRENEMY（以下、「当社」といいます）が管理し、情報を提供しているウェブサイトです。当サイトを利用される前に以下の注意点をお読みいただき、ご了解いただいた上でご利用ください。<br>
        <br>
        1. 当社は、当サイトへの情報・資料の掲載には細心の注意を払っておりますが、掲載された情報の内容の正確性については一切保証しません。また、当サイトに掲載された情報・資料を利用、使用、ダウンロードするなどの行為に関連して生じたあらゆる損害等についても、理由の如何に関わらず、当社は一切責任を負いません。<br>
        <br>
        2. 当サイトに掲載している情報には、当社のほか第三者が提供している情報が含まれる可能性がございますが、これらは皆さまの便宜のために提供しているものであり、当社はその内容の正確性については一切責任を負いかねますのでご了承ください。<br>
        <br>
        3. 当サイトから当社以外が管理しているWebサイトへリンクしている場合や、当社以外が管理しているWebサイトから当サイトへリンクしている場合がございますが、 これらの場合のリンク先及びリンク元のWebサイトをご利用されたことにより生じたいかなる損害についても、当社は責任を負うものではございません。<br>
        <br>
        4. 掲載されている記事については予告なしに内容が変更もしくは削除されることがありますのでご注意下さい。<br>
        <br>
        5. 当サイトで掲載している画像の著作権や肖像権等は、各権利所有者に帰属します。万が一問題がある場合は、お問い合わせよりご連絡いただけますよう宜しくお願い致します。<br>
        <br>
        6. 当サイトに存在する、文章や画像、動画等の著作物の情報を無断転載することを禁止します。引用の範囲を超えるものについては、法的処置を行います。転載する際には、お問い合わせよりご連絡いただけますよう宜しくお願い致します。<br>
        <br>
        7. 当サイトの利用ならびに当サイトの内容の解釈については、日本国の法律を準拠法とします。また、このサイトに関わる全ての紛争については、日本国の東京地方裁判所を第一審の専属管轄裁判所とします。<br>
        <br>
        令和4年8月~~日　策定</p>
</div>
<app-bottom-bar></app-bottom-bar>