header{
    background-color: #fff;
    display: flex;
    width:100%;
    height:100px;
    padding:0 10%;
    margin-top:-10px;
    position:fixed;
    top:10px;
    left:0;
    border-bottom: 1px solid #000;
    z-index: 10;
}
header div{
    width:50%;
    display: flex;
    align-items: center;
}
header h1{
    cursor: pointer;
}
.top-bar-right-container{
    text-align: center;
    position: relative;
    color: #000;
}
.top-bar-right-container a{
    width:25%;
    cursor: pointer;
}
.display-min{
    position: fixed;
    top:0;
    right:0;
    display: none;
    z-index: 10;
}
.aicon-frame{
    display:none;
    text-align: center;
    height:50px;
    width:50px;
    position: absolute;
    right:20px;
}
.aicon-bar{
    border-radius:10px;
    background-color:#000;
    display:inline-block;
    width:80%;
    height:5px;
    margin-top:10px;
}
.display-full{
    display: block;
}

.menu-modal-cantainer div{
    width:100%;
}
.menu-modal-cantainer{
    display:none;
}
@media screen and (max-width: 599px) {
    header{
        height:80px;
    }
    h1{
        font-size: 18px;
    }
    .display-min{
        position:fixed;
    	top:0px;
    	right:0px;
        display:block;
        float:right;
        width:80px;
        height:80px;
        margin:auto 0;
        padding:0;
        box-sizing: border-box;
        font-size:0px;
        padding:10px
    }
    .display-full a{
        display: none;
    }
    .container{
        margin-top: 100px;
    }
    .resButton{
        width:100%;
    }
    .menu-modal-cantainer{
        position:fixed;
    	top:80px;
    	right:0px;
    	border:1px solid #FFF;
    	border-right:0px;
    	background-color:#000;
    	width:200px;
        color: #FFF;
        font-size: 20px;
    }
    .menu-modal-cantainer a{
        margin-bottom:20px;
        cursor: pointer;
    }
    .aicon-frame{
        display:block;
    }
}